* {
    box-sizing: border-box;
}

.content {
    width: 98%;
    margin-left: auto;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.text-header {
    font-size: 24px;
}

.text-primary {
    font-size: 16px;
}

.text-secondary {
    font-size: 14px;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions {
}

.tuner {
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 8px;
}

[class ^= "col-"] {
    margin-left: 2%;
    text-align: center;
}

.col-1 {
    width: 14%;
}

.col-2 {
    width: 30%;
}

.col-3 {
    width: 46%;
}

.col-4 {
    width: 62%;
}

.col-5 {
    width: 78%;
}

.col-6 {
    width: 96%;
}

.record-button,
.stop-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-button {

}

.button {
    width: 100px;
    height: 50px;
}

.record {
    background: lightblue;
}

.stop {
    background: red;
}

.notes {
    background: lightseagreen;
    order: -1;
}

.note {
    text-align: center;
}


.note:not(.active),
.note-quality:not(.active) {
    display: none;
}

.note-data {
}

.note-quality {
}

.note-frequencies {
}

/* @mobileBreakpoint            : 320px; */
/* MOBILE FIRST */

/* @tabletBreakpoint            : 768px; */
/* TABLET */
@media only screen and (max-width: 768px) {

}

/* @computerBreakpoint          : 992px; */
/* COMPUTER */
@media only screen and (max-width: 992px) {

}

/* @largeMonitorBreakpoint      : 1280px; */
/* LARGE MONITOR */
@media only screen and (max-width: 1280px) {

}

/* @widescreenMonitorBreakpoint : 1920px; */
/* WIDESCREEN MONITOR */
@media only screen and (max-width: 1920px) {

}
